.next
node_modules
out
.env*
.DS_Store
.vercel
assets_src/
public/media/originals/**
public/media/*-source.*
*.mov
*.mkv
*.avi
*.prores.*
public/media/originals/**
public/media/*-source.*
*.mov
*.mkv
*.avi
*.prores.*
